.right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login{
    padding-top: 8vh;
    font-size: 2vb;
}

.login_text{
    padding-right: 3vw;
    font-size: 2vb;
}

.input{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    
}


.textbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    font-size: 1.75vb;
}
.textbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5vh;
    font-size: 1.75vb;
}
a:link{
    color: rgba(33,61,150,1);
}