/* Additional CSS used for Magique.php */

/* Changes the color of the second tab in the top menu */
.top_menu_box2{
    grid-column: 2;
    background-color: rgb(118, 114, 233);
}

/* Changes the color of the background on the right side */
.right_side{
    height: 70vh;
    width: 80vw;
    background: rgb(239,238,244);
    background: linear-gradient(180deg, rgb(118, 114, 233) 0%, rgb(250, 253, 255) 87%);
    
    position: absolute;
    right: 1px;
}

